.planes {
  display: flex;
  text-align: center;
  gap: 3vw;
  justify-content: center;
  background-color: #fe601e;
  font-size: 20px;
}

.textplanes {
  color: white;
  font-size: 17px;
  padding: 10px;
}

.ico {
  width: 25% !important;
  margin-bottom: -2vw;
}

h3 {
  font-weight: bold;
}

img {
  width: 20vw;
  height: 12vw;
  border-radius: 15px;
  margin: 2vw;
}

@media (max-width: 500px) {
  .planes {
    display: flex;
    flex-direction: column;
  }

  .textplanes {
    font-size: 15px;
  }

  img {
    margin-top: 10vw;
  }
}
