.wwd-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(43, 40, 40);
  text-align: center;
}

.wwd-container1 {
  display: flex;
  flex-direction: row;
  background-color: rgb(43, 40, 40);
  padding: 20px;
  gap: 100px;
}

.icon {
  width: 120px;
  margin-bottom: 0px;
  color: #fe601e;
}

.wwd1 {
  width: 50%;
}

.wwd2 {
  width: 50%;
}

.wwd-title {
  color: #fe601e;
  letter-spacing: 4px;
  font-size: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .wwd-container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
  }
}

@media (max-width: 400px) {
  .planes {
    display: flex;
    flex-direction: column;
  }

  .textplanes {
    font-size: 15px;
  }

  img {
    margin-top: 10vw;
  }

  .wwd-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}
