.footer {
  background-color: rgb(43, 40, 40);
  width: 100%;
  height: 10vw;
  margin: 0;
  padding: 0;
  text-align: center;
}

.redes {
  padding-top: 2vw;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 2vw;
}

.marc {
  letter-spacing: 3px;
  color: #ff7c39;
}
@media (max-width: 400px) {
  .footer {
    height: 45vw;
    padding-top: 5vw;
  }

  .redes {
    gap: 8vw;
  }
}
