@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato&family=Rubik:wght@300&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  width: 100vw;
}
